<!doctype html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <div id="app"></div>
    
    <% include ../partials/nav.ejs %>

  <section id="content">
    <div class="view-content">    
      <div class="container content">
        <div class="row">
          <div class="col-sm-12">
            <h2 align="center">Oh noes! There was an error!</h2>
            <img src="/images/wahmbulance.jpg" class="img-responsive centered"/>        
          </div>
        </div>
      </div>
    </div>
  </section>
    
</body>

</html>