<script type="text/x-kendo-template" id="home-view">
  
  <a href="https://github.com/jlooper/mike"><img style="position: absolute; top: 50px; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>

    <div class="view-content">
      <div class="container">
      <div class="row">
          <div class="well col-lg-6">
            <h1 align="center">Introducing the MIKE stack</h1>
            <img class="img-responsive centered" src="/images/mike_badge.png"/>
          </div>
          <div class="well col-lg-6">
            <h1 align="center">Go ape for the MoNKEy stack!</h1>
            <img class="img-responsive centered" src="/images/monkey_badge.png"/>
          </div>
        </div>
        <div class="row">
          <div class="well col-lg-6">
            <h4>A man of the people, Mike also has a soft side. Deploy MIKE on Modulus for great Node hosting!</h4>
            <p>Built with:</p>
            <p><a href="https://www.mongodb.org/"><b class="highlight">M</b>ongoDB</a> - for a no-sql database</p>
            <p><a href="https://iojs.org/"><b class="highlight">i</b>o.js</a> - for the server-side, a fork of <a href="http://nodejs.org/">Node</a></p>
            <p><a href="http://www.telerik.com/kendo-ui"><b class="highlight">K</b>endo UI</a> - for the front end widgets and client-side routing</p>
            <p><a href="http://expressjs.com/"><b class="highlight">E</b>xpress</a> - for the web tier and managing the server-side API construction and routing</p>
            <p>Tough, strong, and powerful, MIKE is as robust as an Oxford comma</p>
          </div>
          <div class="well col-lg-6">
            <h4>With a nod to io.js, The M.o.N.K.E.y Stack is served up on Node.js</h4>
            <p>Built with:</p>
            <p><a href="https://www.mongodb.org/"><b class="highlight">M</b>ongoDB</a> - for a no-sql database</p>
            <p><a href="https://nodejs.org/"><b class="highlight">N</b>ode.js</a> - for the server-side. Learn more <a href="http://nodejs.org/">here</a>.</p>
            <p><a href="http://www.telerik.com/kendo-ui"><b class="highlight">K</b>endo UI</a> - for the front end widgets and client-side routing</p>
            <p><a href="http://expressjs.com/"><b class="highlight">E</b>xpress</a> - for the web tier and managing the server-side API construction and routing</p>
            <p>Y is for "yes! It's easy!"</p>
          </div>
          </div>
        </div>
    </div>

</script>