<!doctype html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>


  
  <% include ../partials/nav.ejs %>

  <% include home.ejs %>

  <% include contact.ejs %>

  <% include lists.ejs %>

  <div id="main"></div>

  <% include ../partials/js.ejs %>


  <script>
    (function() {
      MIKE.startApp();
    })();
  </script>


</body>
</html>