<title>M.I.K.E. - MongoDB, io.js, Kendo UI, and Express for quick app scaffolding</title>
  
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">  
  
  <link rel="stylesheet" href="/kendo/bower_components/kendo-ui/styles/kendo.common-bootstrap.min.css"/>
  
  <link rel="stylesheet" href="/kendo/bower_components/kendo-ui/styles/kendo.bootstrap.min.css"/>
  
  <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'/>
  
  <link rel="stylesheet" href='/stylesheets/styles.css'/>
 
 
 