<script type="text/x-kendo-template" id="base-layout-template">
    <header>
      <nav role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="home active"><a href="/#/">Home</a></li>
            <li class="contact"><a href="/#/contact">Contact</a></li>
            <li class="list"><a href="/#/list">Lists</a></li>
          </ul>
        </div>
      </div>
    </nav>
    </header>
    <section id="content">
    </section>
    <footer class="footer">
      <p class="footer-text">A Project of Ladeez First Media. Visit us <a href="http://www.ladeezfirstmedia.com">online</a> or follow us on Twitter @jenlooper.</p>
    </footer>
  </script>