<!doctype html>
<html>
<head>
  <title>Welcome to the MIKE Stack!</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="/kendo/styles/kendo.common-bootstrap.min.css"/>
  <link rel="stylesheet" href="/kendo/styles/kendo.bootstrap.min.css"/>
  <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'/>
  <link rel="stylesheet" href='/stylesheets/style.css'/>
  <script src='/kendo/js/jquery.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>            
  <script src='/kendo/js/kendo.ui.core.min.js'></script>
  <script src="/kendo/libs/contactmodule.js"></script>
  <script src="/kendo/app.js"></script>
</head>
<body>

  <div id="app"></div>
  <!-- Layout Template -->

  <script type="text/x-kendo-template" id="base-layout-template">
    <header>
      <nav role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="home active"><a href="/#/">Home</a></li>
            <li class="contact"><a href="/#/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    </header>
    <section id="content">
    </section>
    <footer class="footer">
      <p class="footer-text">A Project of Ladeez First Media. Visit us at <a href="http://www.ladeezfirstmedia.com">online</a> or follow us on Twitter @jenlooper.</p>
    </footer>
  </script>

  <!-- End Layout Template -->

  <!-- Views -->

  

  <script type="text/x-kendo-template" id="home-view">

  <a href="https://github.com/jlooper/mike"><img style="position: absolute; top: 50px; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>

    <div class="view-content">
      <div class="container">
      <div class="well">
        <h1 align="center">Introducing the MIKE stack</h1>
        <img class="img-responsive centered" src="/images/mike_badge_sm.png"/>
      </div>
      <div class="well">
        <h4>A man of the people, Mike also has a soft side.</h4>
        <p>Built with:</p>
        <p><a href="https://www.mongodb.org/"><b class="highlight">M</b>ongoDB</a> - for a no-sql database, hosted on Modulus</p>
        <p><a href="https://iojs.org/"><b class="highlight">i</b>o.js</a> - for the server-side, a fork of <a href="http://nodejs.org/">Node</a> (or you can simply use Node)</p>
        <p><a href="http://www.telerik.com/kendo-ui"><b class="highlight">K</b>endo UI</a> - for the front end widgets and client-side routing</p>
        <p><a href="http://expressjs.com/"><b class="highlight">E</b>xpress</a> - for the web tier and managing the server-side API construction and routing</p>
      </div>
    </div>
    </div>



  </script>


  <script type="text/x-kendo-template" id="contact-view">
    <div class="view-content">    
    <div class="container content">
      <div class="row">
        <div class="col-sm-12">
          <h2>Contact Mike</h2>
          <form class="form-horizontal well">
          
                <div class="alert alert-dismissable alert-success" style="display:none">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <strong>Well done! </strong><span class="success-message"></span>.
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;
                </div>
                <div class="alert alert-dismissable alert-danger" style="display:none">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <strong>Oops! </strong><span class="failure-message"></span>.
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;
                </div>
            <fieldset>
              <div class="form-group">
                <label for="fName" class="col-lg-2 control-label">First Name</label>
                <div class="col-lg-10">
                  <input id="fName"  data-bind="value: fName"  name="fName" type="text" placeholder="First Name" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="lName" class="col-lg-2 control-label">Last Name</label>
                <div class="col-lg-10">
                  <input id="lName"  data-bind="value: lName"  name="lName" type="text" placeholder="Last Name" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input id="email" data-bind="value: email"  name="email" type="text" placeholder="Email" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="radio" class="col-lg-2 control-label">Status</label>
                <div class="col-lg-10">
                  <div class="radio">
                    <label>
                      <input id="status1" data-bind="checked: status" type="radio" name="status" value="hot" checked="">hot
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input  data-bind="checked: status" id="status2" type="radio" name="status" value="not">not                    
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="alarm-time" class="col-lg-2 control-label">Schedule a house visit</label>
                <div class="col-lg-10">          
                  <div id="alarm-settings"><span class="alarm-time">
                      <input id="schedule" name="schedule" data-role="timepicker" data-bind="value: schedule" value="10:00 AM"></span></div>
                </div>
              </div>
              <div class="form-group">
                <label for="message" class="col-lg-2 control-label">Message</label>
                <div class="col-lg-10">
                  <textarea id="message" data-bind="value: message" name="message" rows="3" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button class="btn btn-default btn-lg">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-lg" data-bind="click: submitContactRequest">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    </div>
  </script>

  
  <!-- End Views -->



  <!-- Templates -->
  <!-- End Templates -->

  <div id="main"></div>

  <script>
    (function() {
      MIKE.startApp();
    })();
  </script>
</body>
</html>