extends layout

block content

  
  .container
    .well
      h1 #{title}
      h4 Introducing the MIKE stack       

  .container.content
    .row
      .col-sm-12
        h2 Contact Mike
        form.form-horizontal.well
          fieldset
              .form-group
                label.col-lg-2.control-label(for='inputFName') First Name             
                .col-lg-10
                  input#inputEmail.form-control(type='text', placeholder='First Name')
              .form-group
                label.col-lg-2.control-label(for='inputLName') Last Name             
                .col-lg-10
                  input#inputEmail.form-control(type='text', placeholder='Last Name')               
              .form-group
                label.col-lg-2.control-label(for='inputEmail') Email             
                .col-lg-10
                  input#inputEmail.form-control(type='text', placeholder='Email')
              .form-group
                label.col-lg-2.control-label(for='radio') Status
                .col-lg-10
                  .radio
                    label
                      input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                      | hot
                  .radio
                    label
                      input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                      | not                    
              .form-group
                label.col-lg-2.control-label(for='alarm-time') Schedule a house visit 
                .col-lg-10           
                  div(id="alarm-settings")
                    span(class="alarm-time")
                      input(id="timepicker" value="10:00 AM")
              .form-group
                label.col-lg-2.control-label(for='textArea') Message             
                .col-lg-10
                  textarea#textArea.form-control(rows='3')                
              .form-group
                .col-lg-10.col-lg-offset-2
                  button.btn.btn-default.btn-lg Cancel
                 
                  button.btn.btn-primary.btn-lg(type='submit') Submit
       
      
      