doctype html
html
  head
    title= title
    
  body
    
    nav.navbar.navbar-default.navbar-static-top(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div(class="navbar-collapse collapse" id="navbar-collapse")
          ul.nav.navbar-nav
            li.active
              a(href="#/") Home
            li
              a(href="#/about") About

    block content

    link(rel="stylesheet", href="/kendo/styles/kendo.common-bootstrap.min.css")
    link(rel="stylesheet", href="/kendo/styles/kendo.bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    script(src='/kendo/js/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')             
    script(src='/kendo/js/kendo.ui.core.min.js')
    script(src='/javascripts/widgets.js')